# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

cipher
decode
message
p
s

rsa-keygen
rsa-dec
rsa-enc

git-reg.jar
.DS_Store
clear
pub
sec


rsa-sign
rsa-validate
sig
cbcmac-validate
cbcmac-tag
*.txt
newm.txt
testkey.txt
testm.txt
testo.txt
aes-key
tag
cbc-dec
cbc-enc
